# Example environment variables for Turistar
NEXT_PUBLIC_GEOAPIFY_KEY=your_api_key_here
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_WIKIMEDIA_ENRICHMENT=true

# NEXT_PUBLIC_SUPABASE_CLIENT_OPTIONS={"persistSession":true}
