
# Core dependencies & build
node_modules/
.next/
out/                # `next export`
build/              # qualquer pasta de build custom


# Package managers (npm only)
.pnpm*              # artefatos se tiver rodado pnpm por engano
.yarn/              # idem para Yarn (berry)

# Tooling & cache
.turbo/             # Turbopack/Turborepo cache
.eslintcache
*.tsbuildinfo       # TypeScript incremental


# Testing / E2E
coverage/
playwright-report/
test-results/
cypress/videos/
cypress/screenshots/

# Environment & secrets
.env*               # .env, .env.local, etc.
.vercel/            # Vercel build output & metadata

# Editors / OS
.vscode/
.idea/
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# npm oddities occasionally created on Windows
.ignored_node_modules/
