:global(.is-dragging).dragContext {
  user-select: none;
  scroll-snap-type: none;
  scroll-behavior: auto;
  cursor: grabbing;
}

:global(.no-snap).dragContext {
  scroll-snap-type: none;
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
