/* src/features/home/components/feature-preview/styles.css */

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.is-dragging {
  user-select: none;
  scroll-snap-type: none !important;
  scroll-behavior: auto !important;
  cursor: grabbing !important;
}
.no-snap {
  scroll-snap-type: none !important;
}
